/* xanthia is a notification system for ubersicht */
/* written by daniel neemann (@zzzeyez) */

:root {
	
/* body */
	--xanthia-image-bg: #fafafa;
	--xanthia-image-opacity: 1;
	--xanthia-image-shadow: 0px 4px 10px 4px rgba(0,0,0,0.2);
	--xanthia-image-size: 150px;
	
/* padding from edge of screen */
	--xanthia-image-padding-v: 30px;
	--xanthia-image-padding-h: 10px;

/* alignment (use "0" or "auto") */
	--xanthia-image-alignment-top: 0;
	--xanthia-image-alignment-right: auto;
	--xanthia-image-alignment-bottom: auto;
	--xanthia-image-alignment-left: 0;

/* corner radius (for rounded corners) */
	--xanthia-image-border-radius-left: 3px;
	--xanthia-image-border-radius-right: 3px;

/* border */
	--xanthia-image-border: 0;

/* fade */
	--xanthia-image-time-visible: 60s;
}

/* Get monitor width */
.screen {
	width: 100vw;
	height: 100vh;
}

.xanthiaimagecontainer {
/* body */
	display: block;
	position: absolute;
	overflow: hidden;
	/* line-height: var(--pecan-xanthia-image-size, var(--xanthia-image-size)); */
	background-color: var(--pecan-xanthia-image-bg, var(--xanthia-image-bg));
/* alignment */
	top: var(--pecan-xanthia-image-alignment-top, var(--xanthia-image-alignment-top));
	right: var(--pecan-xanthia-image-alignment-right, var(--xanthia-image-alignment-right));
	bottom: var(--pecan-xanthia-image-alignment-bottom, var(--xanthia-image-alignment-bottom));
	left: var(--pecan-xanthia-image-alignment-left, var(--xanthia-image-alignment-left));
/* padding */
	margin-top: var(--pecan-xanthia-image-padding-v, var(--xanthia-image-padding-v));
	margin-right: var(--pecan-xanthia-image-padding-h, var(--xanthia-image-padding-h));
	margin-bottom: var(--pecan-xanthia-image-padding-v, var(--xanthia-image-padding-v));
	margin-left: var(--pecan-xanthia-image-padding-h, var(--xanthia-image-padding-h));
/* border */
	padding: var(--pecan-xanthia-image-border, var(--xanthia-image-border));
	border-top-left-radius: var(--pecan-xanthia-image-border-radius-left, var(--xanthia-image-border-radius-left));
	border-top-right-radius: var(--pecan-xanthia-image-border-radius-right, var(--xanthia-image-border-radius-right));
	border-bottom-right-radius: var(--pecan-xanthia-image-border-radius-right, var(--xanthia-image-border-radius-right));
	border-bottom-left-radius: var(--pecan-xanthia-image-border-radius-left, var(--xanthia-image-border-radius-left));
/* shadow */
	box-shadow: var(--pecan-xanthia-image-shadow, var(--xanthia-image-shadow));
/* fade and order */
	z-index: 3;
	animation: fadeinout var(--pecan-xanthia-image-time-visible, var(--xanthia-image-time-visible)) linear forwards;
/* font */
	font-family: var(--pecan-font, Monospace);
	font-size: var(--pecan-font-size, 12px);
}

.xanthiaimage {
	width: var(--pecan-xanthia-image-size, var(--xanthia-image-size));
	height: var(--pecan-xanthia-image-size, var(--xanthia-image-size));
	margin: var(--pecan-xanthia-image-padding, var(--xanthia-image-padding));
	position: relative;
	display: block;
/* css only supports relative urls */
	background: url("/xanthia/.cache/image.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

@keyframes fadeinout {
	0%,100% { opacity: 0; }
	1%,99% { opacity: var(--pecan-xanthia-image-opacity, var(--xanthia-image-opacity)); }
}
