/* xanthia is a notification system for ubersicht */
/* written by daniel neemann (@zzzeyez) */

/* Get monitor width */
.screen {
  width: 100vw;
  height: 100vh;
}

.xanthiaimagecontainer {
  /* body */
  width: var(--height-xanthia-image, var(--default-height-xanthia-image, 160px));
  height: var(--height-xanthia-image, var(--default-height-xanthia-image, 160px));
  display: block;
  position: absolute;
  overflow: hidden;
  background-color: var(--background-xanthia, #202020);
  
  /* font so i can measure with ch */
  font-family: var(--font, var(--default-xanthia-font-family, -apple-system)), BlinkMacSystemFont, Lucida Grande;
  font-size: var(--font-size, var(--default-xanthia-font-size, 11.5px));

  /* border */
  padding: var(--border-xanthia-image, 0px);

  /* alignment */
  top: 0;
  right: var(--alignment-right-xanthia-image, var(--default-alignment-right-xanthia-image, auto));
  bottom: auto;
  left: var(--alignment-left-xanthia-image, var(--default-alignment-left-xanthia-image, 0));

  /* padding from edges of screen */
  margin-top: var(--margin-top-xanthia, var(--default-margin-top-xanthia-image, 10px));
  margin-right: var(--margin-horizontal-xanthia-image, var(--default-margin-horizontal-xanthia-image, 10px));
  margin-left: var(--margin-horizontal-xanthia-image, 10px);

  /* border */
  border-top-left-radius: var(--border-radius-left-xanthia-image, var(--default-border-radius-left-xanthia-image, 3px));
  border-top-right-radius: var(--border-radius-right-xanthia-image, 3px);
  border-bottom-right-radius: var(--border-radius-right-xanthia-image, 3px);
  border-bottom-left-radius: var(--border-radius-left-xanthia-image, var(--default-border-radius-left-xanthia-image, 3px));
  box-shadow: var(--shadow-xanthia, var(--default-shadow-xanthia, 0px 4px 10px 4px rgba(0, 0, 0, 0.1)));

  /* fade and order */
  z-index: 3;
  animation: fadeinout var(--time-visible-xanthia, auto) linear forwards;
}

.xanthiaimage {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  background: url("/xanthia/.cache/image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  /* font so i can measure with ch */
  font-family: var(--font, var(--default-xanthia-font-family, -apple-system)), BlinkMacSystemFont, Lucida Grande;
  font-size: var(--font-size, var(--default-xanthia-font-size, 11.5px));

  border-top-left-radius: var(--border-radius-left-xanthia-image, 0px);
  border-top-right-radius: var(--border-radius-right-xanthia-image, 0px);
  border-bottom-right-radius: var(--border-radius-right-xanthia-image, 0px);
  border-bottom-left-radius: var(--border-radius-left-xanthia-image, 0px);
}

@keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  1%,
  99% {
    opacity: 1;
  }
}
