/* xanthia is a notification system for ubersicht */
/* written by daniel neemann (@zzzeyez) */

:root {
	
/* body */
	--xanthia-image-bg: #fafafa;
	--xanthia-image-opacity: 1;
	--xanthia-image-shadow: 0px 4px 10px 4px rgba(0,0,0,0.2);
	--xanthia-image-size: 150px;
	
/* padding from edge of screen */
	--xanthia-image-margin-vertical: 30px;
	--xanthia-image-margin-horizontal: 10px;

/* alignment */
/* set 0 to where you want bar aligned */
/* and "auto" where you don't */
	--xanthia-image-alignment-top: 0;
	--xanthia-image-alignment-right: auto;
	--xanthia-image-alignment-bottom: auto;
	--xanthia-image-alignment-left: 0;

/* corner radius (for rounded corners) */
	--xanthia-image-border-radius: 8px;

/* border */
	--xanthia-image-border: 0;

/* fade */
	--xanthia-image-time-visible: 15s;
}

/* Get monitor width */
.screen {
	width: 100vw;
	height: 100vh;
}

.xanthiaimagecontainer {
	display: block;
	position: absolute;
	overflow: hidden;
	background-color: var(--pecan-xanthia-image-bg, var(--xanthia-image-bg));
	/* opacity: var(--pecan-xanthia-image-opacity, var(--xanthia-image-opacity)); */
	top: var(--pecan-xanthia-image-alignment-top, var(--xanthia-image-alignment-top));
	right: var(--pecan-xanthia-image-alignment-right, var(--xanthia-image-alignment-right));
	bottom: var(--pecan-xanthia-image-alignment-bottom, var(--xanthia-image-alignment-bottom));
	left: var(--pecan-xanthia-image-alignment-left, var(--xanthia-image-alignment-left));
	padding: var(--pecan-xanthia-image-border, var(--xanthia-image-border));
	margin-top: var(--pecan-xanthia-image-margin-vertical, var(--xanthia-image-margin-vertical));
	margin-right: var(--pecan-xanthia-image-margin-horizontal, var(--xanthia-image-margin-horizontal));
	margin-bottom: var(--pecan-xanthia-image-margin-vertical, var(--xanthia-image-margin-vertical));
	margin-left: var(--pecan-xanthia-image-margin-horizontal, var(--xanthia-image-margin-horizontal));
	line-height: var(--xanthia-image-height);
	border-radius: var(--pecan-xanthia-image-border-radius, var(--xanthia-image-border-radius));
	box-shadow: var(--pecan-xanthia-image-shadow, var(--xanthia-image-shadow));
	z-index: 2;
	animation: fadeinout var(--pecan-xanthia-image-time-visible, var(--xanthia-image-time-visible)) linear forwards;
}

.xanthiaimage {
	width: var(--pecan-xanthia-image-size, var(--xanthia-image-size));
	height: var(--pecan-xanthia-image-size, var(--xanthia-image-size));
	margin: var(--pecan-xanthia-image-padding, var(--xanthia-image-padding));
	position: relative;
	display: block;
	background: url("/xanthia/.cache/image.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

@keyframes fadeinout {
	0%,100% { opacity: 0; }
	1%,99% { opacity: var(--pecan-xanthia-image-opacity, var(--xanthia-image-opacity)); }
}
