/* xanthia is a notification system for ubersicht */
/* Written by Daniel Neemann */

:root {
	/* image */
	--xanthia-image-background-color: var(--pecan-xanthia-image-background-color, #dde0df);
	--xanthia-image-text-color: var(--pecan-xanthia-image-text-color, #dde0df);
	--xanthia-image-opacity: var(--pecan-xanthia-image-opacity, 1);
	--xanthia-image-shadow: var(--pecan-xanthia-image-shadow, 0px 4px 10px 4px rgba(0,0,0,0.2));
	/* Padding from edge of screen */
	/* To position top/right/bottom/left see Alignment */
	--xanthia-image-margin-vertical: var(--pecan-xanthia-image-margin-vertical, 51px);
	--xanthia-image-margin-horizontal: var(--pecan-xanthia-image-margin-horizontal, 15px);
	/* Alignment */
	/* Set 0 to where you want bar aligned */
	/* and "auto" where you don't */
	--xanthia-image-alignment-top: var(--pecan-xanthia-image-alignment-top, 0);
	--xanthia-image-alignment-right: var(--pecan-xanthia-image-alignment-top, 0);
	--xanthia-image-alignment-bottom: var(--pecan-xanthia-image-alignment-bottom, auto);
	--xanthia-image-alignment-left: var(--pecan-xanthia-image-alignment-left, auto);
	/* Bar's total height including --border and excluding padding */
	--xanthia-image-size: var(--pecan-xanthia-image-size, 150px);
	/* Corner radius (for rounded corners) */
	--xanthia-image-border-radius: var(--pecan-xanthia-image-border-radius, 8px);
	/* idk what this is tbh*/
	--xanthia-image-padding: var(--pecan-xanthia-image-padding, 0);
	/* Fade */
	--xanthia-image-time-visible: var(--pecan-xanthia-image-time-visible, 30s);
}

/* Get monitor width */
.screen {
	width: 100vw;
	height: 100vh;
}

.xanthiaimagecontainer {
	display: block;
	position: absolute;
	overflow: hidden;
	background-color: var(--xanthia-image-background-color);
	opacity: var(--xanthia-image-opacity);
	top: var(--xanthia-image-alignment-top);
	right: var(--xanthia-image-alignment-right);
	bottom: var(--xanthia-image-alignment-bottom);
	left: var(--xanthia-image-alignment-left);
	padding: var(--xanthia-image-padding);
	margin-top: var(--xanthia-image-margin-vertical);
	margin-right: var(--xanthia-image-margin-horizontal);
	margin-bottom: var(--xanthia-image-margin-vertical);
	margin-left: var(--xanthia-image-margin-horizontal);
	line-height: var(--xanthia-image-height);
	border-radius: var(--xanthia-image-border-radius);
	box-shadow: var(--xanthia-image-shadow);
	z-index: 2;
	animation: fadeinout var(--xanthia-image-time-visible) linear forwards;
}

.xanthiaimage {
	width: var(--xanthia-image-size);
	height: var(--xanthia-image-size);
	margin-top: var(--xanthia-image-padding);
	margin-bottom: var(--xanthia-image-padding);
	position: relative;
	display: block;
	background: url("/xanthia/image.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

@keyframes fadeinout {
	0%,100% { opacity: 0; }
	4%,96% { opacity: 1; }
}
