/* xanthia is a notification system for ubersicht */
/* written by daniel neemann */

:root {
	
/* colors */
	--xanthia-bg: var(--pecan-xanthia-bg, #DFDFDF);
	--xanthia-fg: var(--pecan-xanthia-fg, #090909);
	--xanthia-opacity: var(--pecan-xanthia-opacity, 0.9);
	--xanthia-shadow: var(--pecan-xanthia-shadow, 0px 4px 10px 4px rgba(0,0,0,0.04));

/* padding from edge of screen */
/* to position top/right/bottom/left see 'alignment' */
	--xanthia-margin-vertical: var(--pecan-xanthia-margin-vertical, 30px);
	--xanthia-margin-horizontal: var(--pecan-xanthia-margin-horizontal, 10px);
	
/* alignment */
/* set 0 to where you want bar aligned */
/* and "auto" where you don't */
	--xanthia-alignment-top: var(--pecan-xanthia-alignment-top, 0);
	--xanthia-alignment-right: var(--pecan-xanthia-alignment-right, 0);
	--xanthia-alignment-bottom: var(--pecan-xanthia-alignment-bottom, auto);
	--xanthia-alignment-left: var(--pecan-xanthia-alignment-left, auto);

/* size */
	--xanthia-max-width: var(--pecan-xanthia-max-width, 300px);
	--xanthia-max-height: var(--pecan-xanthia-max-height, 29px);
	--xanthia-min-width: var(--pecan-xanthia-min-width, none);
	--xanthia-min-height: var(--pecan-xanthia-min-height, none);
	
/* corner radius (for rounded corners) */
	--xanthia-border-radius: var(--pecan-xanthia-border-radius, 8px);

/* typography */
	--xanthia-font: var(--pecan-xanthia-font, Lucida Grande);
	--xanthia-font-size: var(--pecan-xanthia-font-size, 12px);
	--xanthia-font-style: var(--pecan-xanthia-font-style, none);
	--xanthia-line-height: var(--pecan-xanthia-line-height, 29px);
	--xanthia-text-padding: var(--pecan-xanthia-text-padding, 0 3ch);	

/* time spent on screen */
/* set to 'auto' for infinite */
/* cssanimation values at bottom of file */
/* reprent fade-in and fade-out time */
	--xanthia-time-visible: var(--pecan-xanthia-time-visible, auto);
}

/* get monitor width */
.screen {
	width: 100vw;
	height: 100vh;
}

.xanthiamessage {
	display: block;
	position: absolute;
	overflow: hidden;
	color: var(--xanthia-fg);
	font: var(--xanthia-font-size) var(--xanthia-font);
	font-style: var(--xanthia-font-style);
	background-color: var(--xanthia-bg);
	opacity: var(--xanthia-opacity);
	top: var(--xanthia-alignment-top);
	right: var(--xanthia-alignment-right);
	bottom: var(--xanthia-alignment-bottom);
	left: var(--xanthia-alignment-left);
	padding: var(--xanthia-text-padding);
	overflow: hidden;
	text-overflow: ellipsis;
	min-width: var(--xanthia-min-width);
	min-height: var(--xanthia-min-height);
	max-width: var(--xanthia-max-width);
	max-height: var(--xanthia-max-height);
	margin-top: var(--xanthia-margin-vertical);
	margin-right: var(--xanthia-margin-horizontal);
	margin-bottom: var(--xanthia-margin-vertical);
	margin-left: var(--xanthia-margin-horizontal);
	line-height: var(--xanthia-line-height);
	border-radius: var(--xanthia-border-radius);
	box-shadow: var(--xanthia-shadow);
	z-index: 2;
	animation: fadeinout var(--xanthia-time-visible) linear forwards;
}

@keyframes fadeinout {
	0%,100% { opacity: 0; }
	4%,96% { opacity: 1; }
}
