/* xanthia is a notification system for ubersicht */
/* written by daniel neemann */

:root {

/* size */
	--xanthia-max-width: none;
	--xanthia-max-height: 29px;
	--xanthia-min-width: none;
	--xanthia-min-height: none;

/* typography */
	--xanthia-font: Lucida Grande;
	--xanthia-font-size: 12px;
	--xanthia-font-style: none;
	--xanthia-line-height: 29px;
	--xanthia-text-padding: 3ch;	
		
/* colors */
	--xanthia-bg: #fafafa;
	--xanthia-fg: #090909;
	--xanthia-opacity: 0.9;
	--xanthia-shadow: 0px 4px 10px 4px rgba(0,0,0,0.04);

/* alignment (use "0" or "auto") */
	--xanthia-alignment-top: 0;
	--xanthia-alignment-right: 0;
	--xanthia-alignment-bottom: auto;
	--xanthia-alignment-left: auto;
	
/* padding */
	--xanthia-padding-v: 30px;
	--xanthia-padding-h: 10px;

/* corner radius (for rounded corners) */
	--xanthia-border-radius-left: 3px;
	--xanthia-border-radius-right: 3px;

/* fade */
	--xanthia-time-visible: 5s;
}

/* get monitor width */
.screen {
	width: 100vw;
	height: 100vh;
}

.xanthiamessage {
/* body */
	background-color:  var(--pecan-xanthia-bg, var(--xanthia-bg));
	/* opacity: var(--pecan-xanthia-opacity, var(--xanthia-opacity)); */
	min-width: var(--pecan-xanthia-min-width, var(--xanthia-min-width));
	min-height: var(--pecan-xanthia-min-height, var(--xanthia-min-height));
	max-width: var(--pecan-xanthia-max-width, var(--xanthia-max-width));
	max-height: var(--pecan-xanthia-max-height, var(--xanthia-max-height));
	display: block;
	position: absolute;
	overflow: hidden;
/* typography */
	color: var(--pecan-xanthia-fg, var(--xanthia-fg));
	font: var(--pecan-xanthia-font-size, var(--xanthia-font-size)) var(--pecan-xanthia-font, var(--xanthia-font));
	font-style: var(--pecan-xanthia-font-style, var(--xanthia-font-style));
	line-height: var(--pecan-xanthia-line-height, var(--xanthia-line-height));
	text-overflow: ellipsis;
/* padding */
	padding: 0 var(--pecan-xanthia-text-padding, var(--xanthia-text-padding));
	margin-top: var(--pecan-xanthia-padding-v, var(--xanthia-padding-v));
	margin-right: var(--pecan-xanthia-padding-h, var(--xanthia-padding-h));
	margin-bottom: var(--pecan-xanthia-padding-v, var(--xanthia-padding-v));
	margin-left: var(--pecan-xanthia-padding-h, var(--xanthia-padding-h));
/* alignment */
	top: var(--pecan-xanthia-alignment-top, var(--xanthia-alignment-top));
	right: var(--pecan-xanthia-alignment-right, var(--xanthia-alignment-right));
	bottom: var(--pecan-xanthia-alignment-bottom, var(--xanthia-alignment-bottom));
	left: var(--pecan-xanthia-alignment-left, var(--xanthia-alignment-left));
/* etc */
	border-radius: var(--pecan-xanthia-border-radius, var(--xanthia-border-radius));
	border-top-left-radius: var(--pecan-xanthia-border-radius-left, var(--xanthia-border-radius-left));
	border-top-right-radius: var(--pecan-xanthia-border-radius-right, var(--xanthia-border-radius-right));
	border-bottom-right-radius: var(--pecan-xanthia-border-radius-right, var(--xanthia-border-radius-right));
	border-bottom-left-radius: var(--pecan-xanthia-border-radius-left, var(--xanthia-border-radius-left));
	box-shadow: var(--pecan-xanthia-shadow, var(--xanthia-shadow));
	z-index: 2;
	animation: fadeinout var(--pecan-xanthia-time-visible, var(--xanthia-time-visible)) linear forwards;
}

@keyframes fadeinout {
	0%,100% { opacity: 0; }
	1%,99% { opacity: var(--pecan-xanthia-opacity, var(--xanthia-opacity)); }
}
