/* Xanthia is a bar for Ubersicht */
/* Written by Daniel Neemann */
:root {
  /* Colors */
  --xanthia-background-color: #B14C3D;
  --xanthia-text-color: #141414;
  --xanthia-opacity: 0.95;
  --xanthia-shadow: 0px 4px 10px 4px transparent;
  /* Padding from edge of screen */
  /* To position top/right/bottom/left see Alignment */
  --xanthia-margin-vertical: 10px;
  --xanthia-margin-horizontal: 225px;
  /* Alignment */
  /* Set 0 to where you want bar aligned */
  /* and "auto" where you don't */
  --xanthia-alignment-top: 0;
  --xanthia-alignment-right: 0;
  --xanthia-alignment-bottom: auto;
  --xanthia-alignment-left: auto;
  /* Bar's total height including --border and excluding padding */
  --xanthia-height: 35px;
  /* Corner radius (for rounded corners) */
  --xanthia-border-radius: 5px;
  /* Mono font recommended (alignment depends on character width) */
  --xanthia-font: SF Mono;
  --xanthia-font-size: 12px;
  --xanthia-font-style: none;
  --xanthia-text-padding: 3ch;
  /* Fade */
  --xanthia-time-visible: 10s;
  --xanthia-fade: 5s;
}

/* Get monitor width */
.screen {
  width: 100vw;
  height: 100vh;
}

.notify {
  display: block;
  position: absolute;
  color: var(--xanthia-text-color);
  font: var(--xanthia-font-size) var(--xanthia-font);
  font-style: var(--xanthia-font-style);
  background-color: var(--xanthia-background-color);
  opacity: var(--xanthia-opacity);
  top: var(--xanthia-alignment-top);
  right: var(--xanthia-alignment-right);
  bottom: var(--xanthia-alignment-bottom);
  left: var(--xanthia-alignment-left);
  padding: 0px var(--xanthia-text-padding);
  margin-top: var(--xanthia-margin-vertical);
  margin-right: var(--xanthia-margin-horizontal);
  margin-bottom: var(--xanthia-margin-vertical);
  margin-left: var(--xanthia-margin-horizontal);
  line-height: var(--xanthia-height);
  border-radius: var(--xanthia-border-radius);
  box-shadow: var(--xanthia-shadow);
  z-index: 2;
  animation: cssAnimation var(--xanthia-fade) ease-in var(--xanthia-time-visible) forwards;
}

@keyframes cssAnimation {
  to {
    opacity: 0;
  }
}
